*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    background-color: #4e4c4f;
}

.center{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #393736;
    border-bottom: solid #ac865a;
	position: sticky;
	top: 0;
	z-index: 999;
}

header a img{
    height: 150px;
}

ul{
    list-style: none;
}

header a{
    color: #ac865a;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

li{
    display: inline-block;
    padding-left: 10px;
}

.bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(172, 134, 90, 0.4), rgba(57, 55, 54, 0.7)),url('img/bg-imagem.jpg');
    width: 100%;
    height: 450px;
}

.box{
    background-color: #393736;
    width: 100%;
    max-width: 350px;
    height: 500px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 180px;
    margin-top: 80px;
}

.box a{
    color: white;
}

span{
    color: #ac865a;
    font-weight: bold;
    font-size: 50px;
}

.titulo{
    font-size: 90px;
    padding-top: 90px;
    color: white;
    text-align: center;
}

.subtitulo{
    font-size: 50px;
    color: #ac865a;
    text-align: center;
}

footer{
    height: 70px;
    margin-top: 286px;
    color: #ac865a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393736;
}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
    }

    li{
        margin-bottom: 50px;
    }

    .texto, .titulo, .subtitulo{
        font-size: 55px;
    }

    .titulo{
        padding-top: 0px;
    }


}

@media screen and (max-width: 964px){
    .titulo{
        font-size: 65px;
        padding-top: 130px;
    }
}